@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');

html, body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

a, .btn-link {
    color: #0366d6;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}
.navbar-brand {
    margin-left: 2.5rem;
}
#navbar-top {
    background-color: #52565a;
}
#students {
    text-decoration: none;
    font-size: 24px;
    color: white;
    transition: all 0.5s;
}
#students:hover {
    text-decoration: underline;
    transition: all 0.5s;
}
.content {
    padding-top: 1.1rem;
}

.valid.modified:not([type=checkbox]) {
    outline: 1px solid #26b050;
}

.invalid {
    outline: 1px solid red;
}

.validation-message {
    color: red;
}

#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

    #blazor-error-ui .dismiss {
        cursor: pointer;
        position: absolute;
        right: 0.75rem;
        top: 0.5rem;
    }

    .dropdown {
        position: relative;
        display: inline-block;
        font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
        font-size: 14px;
      }
      .dropdown:hover{
        cursor:pointer;
      }
      .dropdown > a, .dropdown > button {
        font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
        font-size: 14px;
        background-color: #56B7D3;
        padding: 12px 40px 12px 20px;
        border-radius: 4px;
        display: inline-block;
        color: black;
        text-decoration: none;
        transition: all 0.5s;
      }
      .dropdown > a:before:hover, .dropdown > button:before:hover {
        background-color: #41889e;
        transition: all 0.5s;
      }
      
      .dropdown > a:before, .dropdown > button:before {
        position: absolute;
        right: 7px;
        top: 12px;
        content: ' ';
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        border-top: 5px solid black;
      }
      
      .dropdown input[type=checkbox] {
        position: absolute;
        display: block;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100%;
        margin: 0px;
        opacity: 0;
      }
      
      .dropdown input[type=checkbox]:checked {
        position: fixed;
        z-index:+0;
        top: 0px; left: 0px; 
        right: 0px; bottom: 0px;
      }
      
      .dropdown ul {
        position: absolute;
        top: 18px;
        border: 1px solid black;
        border-radius: 3px;
        left: 0px;
        list-style: none;
        padding: 4px 0px;
        display: none;
        background-color: white;
        box-shadow: 0 3px 6px rgba(0,0,0,.175);
      }
      
      .dropdown input[type=checkbox]:checked + ul {
        display: block;
      }
      
      .dropdown ul li {
        display: block;
        padding: 6px 20px;
        white-space: nowrap;
        min-width: 100px;
        color: black
      }
      
      .dropdown ul li:hover {
        background-color: #56B7D3;
        cursor: pointer;
      }
      
      .dropdown ul li a {
        text-decoration: none;
        display: block;
        color: black
      }
      
      .dropdown .divider {
        height: 1px;
        margin: 9px 0;
        overflow: hidden;
        background-color: #e5e5e5;
        font-size: 1px;
        padding: 0;
      }
 #school {
    cursor: not-allowed;
 }
 .input-text {
     margin: 20px 4px;
 }